
<div class="ui raised segment">
    <h2 class="ui header">Birth Date. Custom Validation</h2>
    <div *ngIf="!myForm.valid && myForm.touched"
        class="ui error message">The form is not valid</div>
    <div *ngIf="myForm.controls['birthDate'].hasError('invalidBirthDate') && myForm.controls['birthDate'].touched" 
        class="ui error message">Birth Date must be a date <span>DD-MM-YYYY or DD/MM/YYYY</span></div>
    <div *ngIf="myForm.controls['birthDate'].hasError('required') && myForm.controls['birthDate'].touched" 
        class="ui error message">Birth date is required</div>
    <form [formGroup]="myForm"
        (ngSubmit)="onSubmit(myForm.value)"
        class="ui form">
        <div class="field">
            <label for="birthDateInput">Birth Date</label>
            <input type="text"
                id="birthDateInput"
                placeholder="birthDate"
                [formControl]="$any(myForm.controls['birthDate'])">
        </div>
        <button type="submit" class="ui button">Submit</button>
    </form>
    
</div>